/* Hidden App Section */


/* Manga Gallery */
.gallery-section {
    padding: 20px;
}

.manga-thumbnails {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.manga-thumbnails img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.manga-thumbnails img:hover {
    transform: scale(1.1);
}

/* Manga Viewer */
.viewer-section {
    padding: 20px;
}

.chapter-images img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #9f7aea;
    color: #16213e;
    border: none;
    padding: 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
}

.pagination button:hover {
    background-color: #805ad5;
    transform: scale(1.1);
}


/* Manga Viewer Section */
#mangaViewer img {
    width: 100%;
    display: block;
}

#backToGalleryBtn {
    background-color: #baa1ec;
    color: #16213e;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#backToGalleryBtn:hover {
    background-color: #805ad5;
    transform: scale(1.1);
}

/* Loading Spinner */
.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Login Page Styles */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

#loginBtn {
    padding: 10px 20px;
    background-color: #764ba2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #667eea;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}




#logoutBtn {
    position: fixed; /* Keep button fixed */
    top: 20px;
    right: 20px;
    background-color: #baa1ec;
    color: #16213e;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    z-index: 2; /* Ensure the button is above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

#logoutBtn:hover {
    background-color: #e9624b;
    transform: scale(1.1);
}



/* Style for the READ button */
.read-btn {
    background-color: #baa1ecdc;
    color: rgb(56, 128, 56);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.read-btn:hover {
    background-color: green;
    color: #baa1ecdc;
    transform: scale(1.1);
}

.watch-btn {
    background-color: #baa1ec;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.watch-btn:hover {
    background-color: purple;
    transform: scale(1.1);
}

/* Hidden App Styling */
.hidden-header {
    text-align: center;
    padding: 20px;
    background-color: #163e1d;
    border-bottom: 2px solid #4e8b51;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.hidden-header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #e0e0e0; /* Teal Highlight color */
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: fadeIn 1s ease-in-out;
}


/* Logout button in hiddenApp */
#logoutBtnHidden {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #baa1ec;
    color: #16213e;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

#logoutBtnHidden:hover {
    background-color: #e9624b;
    transform: scale(1.1);
}





/* Global Styles */
body {
    background-color: #1a1a2e; /* Deep Blue background */
    color: #e0e0e0; /* Light Gray text for contrast */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
.header {
    text-align: center;
    padding: 20px;
    background-color: #16213e;
    border-bottom: 2px solid #4e4e8b;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #9f7aea; /* Teal Highlight color */
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: fadeIn 1s ease-in-out;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    left: -300px; /* Sidebar hidden to the left */
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #16213e;
    padding-top: 60px;
    z-index: 1;
    transition: transform 0.4s ease, background-color 0.4s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    border-right: 3px solid #4e4e8b;
    transform: translateX(-300px); /* Initially hidden */
}

.sidebar.open {
    transform: translateX(300px); /* Slide in when open */
}

.sidebar ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}


.sidebar ul li:hover {
    background-color: #9f7aea;
    color: #16213e;
    transform: scale(1.05);
}

/* List Button */
#listButton {
    position: fixed; /* Keep button fixed */
    top: 20px;
    left: 20px;
    background-color: #9f7aea;
    color: #16213e;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    z-index: 2; /* Ensure the button is above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

#listButton:hover {
    background-color: #805ad5;
    transform: scale(1.1);
}

/* Top section for Videos Button and Player */
.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}

/* Player Container (on top, under header) */
.player-container {
    width: 80%;
    margin: 0 auto;
}

#videoPlayer {
    width: 100%;
    height: 480px; /* Retaining the original size */
    border: 3px solid #9f7aea;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-in-out;
}

/* Wrapper for thumbnails and buttons */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Updated Thumbnail Container Styling */
.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to 4 items in a row */
    justify-content: center;
    gap: 30px;
    width: 80%;
    margin: 20px auto;
    animation: fadeInUp 1s ease-in-out;
}

/* Adjust grid layout for different number of items */
.thumbnail-container.one-item {
    grid-template-columns: repeat(1, 1fr); /* Center single item */
}

.thumbnail-container.two-items {
    grid-template-columns: repeat(2, 1fr); /* Center two items */
}

.thumbnail-container.three-items {
    grid-template-columns: repeat(3, 1fr); /* Center three items */
}



.video-item {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.video-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.video-thumbnail {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.video-item:hover .video-thumbnail {
    transform: scale(1.05); /* Zoom on hover */
    border-color: #9f7aea; /* Highlight effect */
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-item:hover .play-button {
    opacity: 1;
}

/* Pagination Number Buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
}

.button-container button {
    background-color: #9f7aea;
    color: #16213e;
    border: none;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container button:hover {
    background-color: #805ad5; /* Darker teal on hover */
    transform: scale(1.1); /* Slightly larger on hover */
}

button:disabled {
    background-color: #555; /* Disabled buttons have a darker background */
    cursor: not-allowed;
    box-shadow: none;
}

/* Active page button highlighting */
.button-container button.active {
    background-color: #805ad5; /* Highlight the active page button */
}

/* Effect on playing video thumbnail */
.playing .video-thumbnail {
    opacity: 0.5; /* Half-fade effect on the playing thumbnail */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .player-container {
        width: 100%;
    }

    .thumbnail-container {
        width: 100%;
    }

    .videos-button {
        left: 2%; /* Button stays near the left edge on smaller screens */
    }
}

/* Adjust modal position */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%; 
    left: 300px; /* Align the modal to the right of the sidebar */
    transform: translateY(-50%); /* Center vertically */
    width: 125%; /* Adjusted width to ensure it fits on smaller screens */
    max-width: 400px; /* Maximum width for larger screens */
    padding: 30px;
    background-color: #16213e;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    animation: fadeInDown 0s ease-in-out;
    transition: left 0.4s ease; /* Smooth transition */
}

/* When sidebar is open, move modal */
.sidebar.open ~ .modal {
    left: 320px; /* Adjust to be beside the open sidebar */
}



/* Modal Header Styling */
h2 {
    margin: 0;
    font-size: 2.5rem;
    color: #9f7aea; /* Teal Highlight color */
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 1s ease-in-out;
}

/* Modal Content Layout */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* Modal Input Field Styling */
.modal input {
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #9f7aea;
    background-color: #1a1a2e;
    color: #e0e0e0;
    width: 90%; /* Ensure the input takes up full width */
}

/* Button Styling */
button {
    padding: 12px 18px;
    background-color: #9f7aea;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #805ad5;
    transform: scale(1.05);
}

/* Styling for the video type select dropdown */
#videoTypeSelect {
    font-size: 1.2rem; /* Increase the font size */
    padding: 10px;     /* Add padding for a bigger clickable area */
    border: 2px solid #9f7aea;
    background-color: #16213e;
    color: #e0e0e0;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

#videoTypeSelect:hover {
    border-color: #805ad5; /* Slight color change on hover */
}

#videoTypeSelect option {
    font-size: 1.2rem; /* Ensure the options also have the bigger font size */
    background-color: #1a1a2e;
    color: #e0e0e0;
}

/* Adjust gap between 'New Video Type' label and its input */
#newTypeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add a gap between label and input */
     
}

#newTypeContainer label {
    font-size: 1rem;
}

#newTypeContainer input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #9f7aea;
    background-color: #1a1a2e;
    color: #e0e0e0;
    margin-top: 15px;
}

/* Center Add Icon Button */
#addVideoBtn {
    background-color: transparent;
    font-size: 2rem;
    color: #9f7aea;
    transition: color 0.3s ease;
    margin-top: 15px;
    gap: 10px;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    margin-left: auto;
    margin-right: auto;       /* Ensure button stays centered */
}

#addVideoBtn:hover {
    color: #805ad5;
}


/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}


.delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    color: #805ad5; /* Soft purple */
    border: 2px solid #805ad5; /* Soft purple border */
    padding: 8px;
    border-radius: 40%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn:hover {
    background-color: #805ad5; /* Solid purple on hover */
    color: white; /* Change icon color to white on hover */
    border-color: #805ad5; /* Keep border consistent */
    transform: scale(1.1); /* Slightly increase size on hover */
}

.delete-btn i {
    font-size: 1.2rem;
}


/* Category Buttons Styling */
.category-rename-btn, .category-delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px; /* Space between rename and delete buttons */
    transition: transform 0.3s ease;
}

.category-rename-btn:hover, .category-delete-btn:hover {
    transform: scale(1.1); /* Slight hover effect */
}

.category-rename-btn {
    color: #2435cf; /* Purple color */
}

.category-rename-btn:hover {
    color: #162cf0; /* Darker purple on hover */
}

.category-delete-btn {
    color: #805ad5; /* Soft purple */
    border: 2px solid #805ad5;
    padding: 8px;
    border-radius: 40%; /* Keep the delete button round */
}


.category-delete-btn:hover {
    background-color: #c5c5c5 ;
    color: white;
}

/* Style for sidebar list items with flexbox */
.sidebar ul li {
    display: flex;
    justify-content: space-between; /* Moves rename button to the right */
    align-items: center;
    padding: 15px;
    text-align: left;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-bottom: 1px solid #4e4e8b;
}

.sidebar ul li:hover {
    background-color: #9f7aea;
    color: #16213e;
    transform: scale(1.05);
}


